body {
  background-color: #80d4ea;

}

#clock {
  margin: 35vmin auto 0 auto;
  font-family: courier, monospace;
  font-size: 3em;
  text-align: center;
  color: white;
}


#calendar {
  color: #4660C8;
  font-family: courier, monospace;
  font-size: 2em;
  text-align: center;
  margin: 5vmin auto 0 auto;
}

#dublin {
  margin: 5vmin auto 0 auto;
}

#new-york {
  margin: 5vmin 5vmin 0 auto;
}
